In [1]:
import torch

In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
df=pd.read_csv('bonus_dataset.csv')
df.head()

  employee_id  performance  years_of_experience  projects_completed  bonus
0     EMP_001            7                    2                   4    124
1     EMP_002            4                    1                   4     82
2     EMP_003            8                    7                  10    178
3     EMP_004            5                    7                   8    138
4     EMP_005            7                    8                   9    170

In [3]:
df.shape

(100, 5)

In [8]:
type(df["performance"].values)

numpy.ndarray

In [11]:
performance=torch.tensor(df["performance"].values, dtype=torch.float32)
years_experience=torch.tensor(df["years_of_experience"].values, dtype=torch.float32)
projects_completed=torch.tensor(df["projects_completed"].values, dtype=torch.float32)
bonus=torch.tensor(df["bonus"].values, dtype=torch.float32)

In [21]:
w1=torch.rand(1,requires_grad=True)
w2=torch.rand(1,requires_grad=True)
w3=torch.rand(1,requires_grad=True)
bias=torch.rand(1,requires_grad=True)


epochs=5000
learning_rate=0.006
for epoch in range(epochs):
    predicted_bonus=w1*performance+w2*years_experience+w3*projects_completed+bias

    loss=((predicted_bonus-bonus)**2).mean()
    loss.backward()
    with torch.no_grad():
        w1-= learning_rate * w1.grad
        w2-= learning_rate * w2.grad
        w3-= learning_rate * w3.grad
        bias-= learning_rate * bias.grad
    w1.grad.zero_()
    w2.grad.zero_()
    w3.grad.zero_()
    bias.grad.zero_()
    
    if epoch %100==0:
        print(f"Epoch: {epoch} , Loss: {loss.item():0.2f}")

Epoch: 0 , Loss: 17402.85
Epoch: 100 , Loss: 18.33
Epoch: 200 , Loss: 16.00
Epoch: 300 , Loss: 13.96
Epoch: 400 , Loss: 12.19
Epoch: 500 , Loss: 10.64
Epoch: 600 , Loss: 9.28
Epoch: 700 , Loss: 8.10
Epoch: 800 , Loss: 7.07
Epoch: 900 , Loss: 6.17
Epoch: 1000 , Loss: 5.38
Epoch: 1100 , Loss: 4.70
Epoch: 1200 , Loss: 4.10
Epoch: 1300 , Loss: 3.58
Epoch: 1400 , Loss: 3.12
Epoch: 1500 , Loss: 2.73
Epoch: 1600 , Loss: 2.38
Epoch: 1700 , Loss: 2.08
Epoch: 1800 , Loss: 1.81
Epoch: 1900 , Loss: 1.58
Epoch: 2000 , Loss: 1.38
Epoch: 2100 , Loss: 1.20
Epoch: 2200 , Loss: 1.05
Epoch: 2300 , Loss: 0.92
Epoch: 2400 , Loss: 0.80
Epoch: 2500 , Loss: 0.70
Epoch: 2600 , Loss: 0.61
Epoch: 2700 , Loss: 0.53
Epoch: 2800 , Loss: 0.46
Epoch: 2900 , Loss: 0.41
Epoch: 3000 , Loss: 0.35
Epoch: 3100 , Loss: 0.31
Epoch: 3200 , Loss: 0.27
Epoch: 3300 , Loss: 0.24
Epoch: 3400 , Loss: 0.21
Epoch: 3500 , Loss: 0.18
Epoch: 3600 , Loss: 0.16
Epoch: 3700 , Loss: 0.14
Epoch: 3800 , Loss: 0.12
Epoch: 3900 , Loss: 0.10
Epoch: 4000 , Loss: 0.09
Epoch: 4100 , Loss: 0.08
Epoch: 4200 , Loss: 0.07
Epoch: 4300 , Loss: 0.06
Epoch: 4400 , Loss: 0.05
Epoch: 4500 , Loss: 0.05
Epoch: 4600 , Loss: 0.04
Epoch: 4700 , Loss: 0.03
Epoch: 4800 , Loss: 0.03
Epoch: 4900 , Loss: 0.03

In [22]:
w1.item(),w2.item(),w3.item(),bias.item(),

(12.027743339538574, 5.904821395874023, 2.1269748210906982, 19.38001823425293)

In [23]:
predicted_b=w1.item()*10+w2.item()*3+w3.item()*5+bias
predicted_b

tensor([168.0068], grad_fn=<AddBackward0>)